<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>EJS Test page</h1>
	<% for(var i=0; i < 10; i++){ %>
	<div>Name : <%=name%>, Age : <%=age%></div>
	<% } %>
</body>
</html>